@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100;200;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 
font-family: 'Abel', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
 */

body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.vi-cover{
    display: none;
}
.vi{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.theme-color {
    background-color: #FDA500;
}

.alig {
    vertical-align: top;
}

.logo-title {
    display: inline;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    -webkit-text-stroke: 1px #FFFFFF;
}

.buttons-decor {
    border: none;
    outline: none;
    padding: 10px 30px;
    background-color: #242E2E;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    color: #FFFFFF;
    margin-right: 10px;
    font-size: 14px;
}

.font {
    font-size: 10px;
    font-weight: bold;
}

.position-addons {
    left: 7px;
    top: 12px;
}

.hvm-container,
.info-container,
.logo-container {
    display: flex;
}

.cover-container {
    position: static;
}

.position-additionals {
    left: 10px;
    top: -15px;
}

.ptn {
    left: -35px;
    z-index: -1;
    top: -12px;
}

.ft {
    font-size: 12px;
    padding: 15px 40px;
}

.pn-ae {
    top: -12px;
    left: 50px;
}

.ft-sz {
    font-size: 14px;
    font-weight: 500;
}

.wt {
    width: 100%;
    height: 100%;
}

.margin {
    margin-top: 45px;
}

.margin-bt {
    margin-bottom: 10px;
}

.suggestion-container p {
    font-size: 12px;
    font-weight: 200;
}

.display {
    display: contents;
}

.account-option {
    font-size: 14px;
}

.button-additionals {
    padding: 15px 80px;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: background-color 0.15s;
}

.tp {
    top: -10px;
}

.button-additionals:hover {
    background-color: #000000;
}

.point {
    cursor: pointer;
}

.search-bar input {
    width: 500px;
    border-radius: 7px;
    padding: 10px;
}

.search-bar input::placeholder {
    font-family: 'Abel', sans-serif;
    position: absolute;
    top: 15px;
    left: 50px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Inter', sans-serif;
}

.search-bar input:focus {
    outline: none;
    border: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    background-color: rgb(60, 60, 60);
}

.search-rect {
    border: none;
}

.button-values {
    padding: 10px;
    border-radius: 30px;
    font-weight: 300;
    border: none;
    width: 115px;
    font-size: 14px;
}

.color {
    color: #FFFFFF;
}

.bg-cl {
    background-color: rgb(60, 60, 60);
}

.title {
    margin-top: 15px;
}

.top-left {
    top: 15px;
    left: 15px;
    z-index: 1;
}

.form-width {
    width: 100%;
}
.none{
    display: flex;
}
.wid{
    width: 75%;
}
.hours{
    font-size: 12px;
}
.options-div{
    display: none;
}
@media (max-width: 1025px) {
    .container {
        overflow: hidden;
        overflow-y: none;
        overflow-x: none;
        overflow-wrap: none;
    }

    .buttons-decor {
        padding: 10px 20px;
    }

    .ptn {
        left: -18px;
        z-index: -1;
        top: -10px;
    }

    .pn-ae {
        top: -7px;
        left: -40px;
    }
}

@media (max-width: 775px) {

    .hvm-container,
    .user-container,
    .mk-th-ib .mk-it-ib,
    .left-container,
    .display,
    .d-n {
        display: none;
    }

    .logo-container {
        display: block;
    }

    .cover-container {
        position: relative;
    }
    .vi-cover{
        display: block;
    }
}

@media (max-width: 428px) {
    .none{
        display: none;
    }
    .wid{
        width: 95%;
    }
    .dp-name span{
        font-size: 10px;
    }
    .dp-name p{
        font-size: 12px;
    }
    .hours{
        font-size: 7px;
    }
    .image-div{
        width: 260px;
    }
    .image-div img{
        width: 100%;
    }
    .options-div{
        display: block;
    }
}

@media (max-width: 380px) {
    .wdh{
        width: 150px;
    }
    .image-div {
        width: 220px;
    }
    .dp-name p{
        font-size: 10px;
    }
}
@media (max-width: 320px) {
    .image-div {
        width: 170px;
    }
}