@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100;200;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 
font-family: 'Abel', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
 */

body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.orange-shade {
    color: #FDA500;
}

.theme-color {
    background-color: #FDA500;
}

.alig {
    vertical-align: top;
}

.logo-title {
    display: inline;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    -webkit-text-stroke: 1px #FFFFFF;
}

.buttons-decor {
    border: none;
    outline: none;
    padding: 10px 30px;
    background-color: #242E2E;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    color: #FFFFFF;
    margin-right: 10px;
    font-size: 14px;
}

.font {
    font-size: 10px;
    font-weight: bold;
}

.position-addons {
    left: 7px;
    top: 12px;
}

.hvm-container,
.info-container,
.logo-container {
    display: flex;
}

.cover-container {
    position: static;
}

.position-additionals {
    left: 10px;
    top: -15px;
}

.ptn {
    left: -35px;
    z-index: -1;
    top: -12px;
}

.ft {
    font-size: 12px;
    padding: 15px 40px;
}

.pn-ae {
    top: -12px;
    left: 50px;
}

.ft-sz {
    font-size: 14px;
    font-weight: 500;
}

.wt {
    width: 100%;
    height: 100%;
}

.margin {
    margin-top: 45px;
}

.margin-bt {
    margin-bottom: 10px;
}

.suggestion-container p {
    font-size: 12px;
    font-weight: 200;
}

.display {
    display: contents;
}

.account-option {
    font-size: 14px;
}

.button-additionals {
    padding: 15px 80px;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: background-color 0.15s;
}

.tp {
    top: -10px;
}

.button-additionals:hover {
    background-color: #000000;
}

.point {
    cursor: pointer;
}

.search-bar input {
    width: 300px;
    border-radius: 7px;
    padding: 10px;
}

.search-bar input::placeholder {
    font-family: 'Abel', sans-serif;
    position: absolute;
    top: 15px;
    left: 50px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Inter', sans-serif;
}

.search-bar input:focus {
    outline: none;
    border: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    background-color: rgb(60, 60, 60);
}

.search-rect {
    border: none;
}

.button-values {
    padding: 10px;
    border-radius: 30px;
    font-weight: 300;
    border: none;
    width: 115px;
    font-size: 14px;
}

.color {
    color: #FFFFFF;
}

.bg-cl {
    background-color: rgb(60, 60, 60);
}

.title {
    margin-top: 15px;
}

.top-left {
    top: 15px;
    left: 15px;
    z-index: 1;
}

.form-width {
    width: 100%;
}

.rectangle-positioning {
    bottom: 90px;
    left: -2px;
}

.paragraph-decor {
    background-color: #FDA500;
    color: #000000;
    padding: 5px 10px 5px 80px;
    border-radius: 8px 0 8px 8px;
}

.l-container {
    width: 40%;
}

.last-one {
    width: 200px;
}

.message-box-container {
    background-color: #2B2C2D;
    border: #797C7B;
    border-radius: 20px;
    padding: 50px;
    width: 500px;
}

.send-icons {
    text-align: right;
}

.typography {
    font-size: 13px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.typography p {
    margin-bottom: 5px;
}

.box {
    background-color: #2B2C2D;
    border: 2px solid#797C7B;
    padding: 15px;
    border-radius: 10px;
}

.margin-left {
    margin-left: 100px;
}
.options-div{
    display: none;
}
.vi{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.add-div{
    display: none;
}
@media (max-width: 1025px) {
    .container {
        overflow: hidden;
        overflow-y: none;
        overflow-x: none;
        overflow-wrap: none;
    }

    .buttons-decor {
        padding: 10px 20px;
    }

    .ptn {
        left: -15px;
        z-index: -1;
        top: -10px;
    }

    .pn-ae {
        top: -7px;
        left: -45px;
    }
}

@media (max-width: 775px) {

    .hvm-container,
    .user-container,
    .mk-th-ib .mk-it-ib,
    .left-container,
    .display,
    .d-n {
        display: none;
    }

    .logo-container {
        display: block;
    }

    .cover-container {
        position: relative;
    }
    .l-container {
        width: 255px;
    }
    .search-bar input {
        width: 220px;
    }
    .search-bar button{
        width: 72px;
    }
    .box p{
        font-size: 12px;
    }
    .margin-left {
        margin-left: 15px;
    }
}

@media (max-width: 428px) {
    .wdh{
        width: 150px;
    }
    .message-container,
    .long-horizontal-line,
    .mk-it-ib,
    .l-container form,
    .categories-container,
    .scroll-bar,
    .l-container,
    .four-img
    {
        display: none;
    }
    .orange-shade{
        text-align: center;
    }
    .late-div{
        width: 385px;
    }
    .move-left{
        padding-left: 0;
    }
    .add-div,
    .options-div{
        display: block;
    }
}

@media (max-width: 380px) {
    .r-container{
        width: 350px;
    }
    .late-div {
        width: 340px;
    }
}
@media (max-width: 320px) {
    .r-container {
        width: 300px;
    }
    .late-div {
        width: 267px;
    }
}