@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100;200;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 
font-family: 'Abel', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
 */

body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.upper-container {
    padding-top: 20px;
}
.container-features {
    padding-top: 0;
}
.alig {
    vertical-align: top;
}
.logo-line {
    display: inline;
    text-transform: uppercase;
    font-size: 48px;
}
#example2 {
    color: black;
    font-size: 30px;
    -webkit-text-stroke: 1px #FFFFFF;
}
.additionals {
    color: #FFFFFF;
    font-size: 14px;
    width: 250px;
}
.account-option {
    font-size: 14px;
}
.point {
    cursor: pointer;
}
.form-control {
    width: 50%;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-bottom: 2px solid #FDA500;
    border-right: 0;
    border-radius: 0;
    color: #FFFFFF;
    outline: none;
}
.input-box input:focus {
    outline: none;
    background: none;
    border-top: 0;
    border-left: 0;
    border-bottom: 2px solid #FDA500;
    border-right: 0;
    color: #FFFFFF;
    
}
.input-box input::placeholder {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Inter', sans-serif;
}
.rounded-corner {
    border-radius: 10px;
    background-color: #FDA500;
    font-weight: bold;
    width: 100%;
}
.bd-dk{
    background-color: rgb(33, 33, 33);
}
.color {
    color: #FFFFFF;
}

@media (max-width: 428px) {
    .bd-dk{
        background-color: #000000;
    }
    .additionals{
        display: none;
    }
    .account-option p{
        display: none;
    }
    .container-features{
        text-align: center;
    }
    .row{
        padding-top: 10px;
    }
}
